<html>
  <head>
    <title>Data Streaming With Docker and Kafka</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <style>
      * {
        font-family: 'Roboto', sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Data Streaming With Docker and Kafka</h1>
    <div id="chat">
      {% if chat_feed is defined and chat_feed %}
        {% for chat_block_info in chat_feed %}
            <p><b> {{ chat_block_info[0] }} </b></p>
            <p> {{ chat_block_info[1] }}
        {% endfor %}
      {% endif %}
    </div>
    <div id="chat_input">
      <form action="/chat_input" method="post">
        <input type="text" name="chat_name" placeholder="Name"> <br/>
        <textarea name="chat_text" placeholder="Enter a message..."></textarea> <br/>
        <input type="submit" name ="chat_form" value="Submit"/>
      </form>
    </div>
  </body>
</html>